* {
    margin: 0px;
}

body {
    background-color: whitesmoke;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.logo {
    width: 150px;
    height: 150px;
    object-fit: contain;
}
